ul {
  display: flex;
  gap: 30px;

 
}
nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}
.botom {
  text-align: center;
  background:#2c3e50;
  list-style: none;
  width: 150px;
  margin-bottom: 10px;
  padding: 8px 0;
  cursor: pointer;
  border-radius:8px;
  
}
.botom:hover {
  background: gray;
}
.botom a {
  text-decoration: none;
  color: #fff;
}
.fotos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
h1,h2,h4 {
  color: #2c3e50;
}


.galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homepage {
  display: flex;
  gap: 20px;
  font-size: 30px;
}
.ph-whatsapp-logo {
  font-size: 22px;
}
.ph-microsoft-outlook-logo {
  font-size: 22px;
}
a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
.logo{
   width:150px; 
}
body{
    background:rgba(0,0,0,0.09);
    color:#36a794;
}
.homepage h4{
    color:#6e6e80;
}